@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #4AF4F7 ;
    --cor1: #0FF595 ;
    --cor2: #007375 ;
    --cor3: #FF441F ;
    --cor4: #A81A00 ;
    --cor5: #F5320F ;
    --cor6: #F7724A ;
    --cor7: #94EEFA ;
    --font-destaque: 'Fjalla One', sans-serif; ;
    --font-padrao: 'Lato', Arial, Verdana, Helvetica, sans-serif;
    --font-site:'Roboto', sans-serif;

}

body{
    font-family: 'Lato', sans-serif, Arial;
    background-color: #070707;
}
header{
    background-image: linear-gradient(to top, #070036, #0d0063);
    text-align: center;
    height: 100px;
}
header h1{
    color: aliceblue;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.473);
    font-size: 40px

}
header p{
    color: aliceblue;
    font-size: 20px;
}
nav{
    background-color: rgb(16, 14, 26);
    margin-bottom: 30px;
}
#menu{
    list-style: none;
}
#menu li{
    display: inline;
}
#menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 30px;
    transition-duration: 500ms;
    margin: 0px;
}
#menu li a:hover{
    background-color: #0ff595b2;
}
main{
    background-color: white;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
main article p{
    text-align: justify;
    text-indent: 10px;
    margin: 10px 0px;
}
article p a{
    text-decoration: none;
}
article p a:hover{
    text-decoration: underline;
}
article h2{
    font-size: 35px;
    margin: 20px 5px;
}
article p{
    line-height: 1.5em;
}
div.video{
    
    margin-bottom: 30px;
    margin: 0px -10px 0 -10px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.halo{
    display: inline-block;
    margin: 30px 50px 30px 0px;
}
.halo a img:hover{
    transform: scale(1.1);
    border: 1px solid #070036;
}
.image{
    width: 100%;
    border-radius: 10px 0px ;

}
h3{
    font-size: 25px;
}
h4{
    background-color: #004849;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 4px;
    color: #c3f8ff;
    font-weight: normal;
}
aside{
    background-color: #007375;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
aside ul{
  list-style-position: inside;
  padding: 10px;
}
aside ul a{
    text-decoration: none;
    color: #eefdff;
}
aside ul a:hover{
    text-decoration: underline;
    color: #4b0b00;
}
#thank{
    text-align: center;
    background-color: #070036;
    color: #c3f8ff;
    margin: -10px auto 10px auto;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer{
    background-color: #0a004d;
    color: #eefdff;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #eefdff;
}
footer a:hover{
    text-decoration: underline;
    color: #71eeff;
}