@charset "UTF-8";

body{
    background-color: #260E99;

}
p{
    color: #8a7a00;
}
h1{
    background-color: #4A29E6;
    color: #E6D239;

}
h2{
    background-color: #4A29E6; 
    color: #E6D239;

}
h3{
    color: #E6D239;
}
